.herocontainer{
      grid-template-columns: 60% 50%;
}

.form-content{
    background: linear-gradient(98deg, #6eabf031, #60d6e8),url(../../assets/hero-bg-4.jpg) ;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}