/* Set the default font for the entire project */
body {
  font-family: 'Quicksand', sans-serif;
}

/* Other styles remain unchanged */
.herocontainer {
  grid-template-columns: 60% 50%;
}

.form-content {
  background: url(../../assets/online-certificate-course.svg);
  background-repeat: no-repeat;
  background-position: left center; /* Center the background image on the left side */
  background-attachment: fixed;
  background-size: auto 130%;
}

fieldset {
  border: 2px solid black;
  border-radius: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  margin: 2px 4px;
  width: 90%;
}

.herocontainer {
  margin-top: 80px;
  height: calc(110vh - 258px);
}
